In [1]:
import pandas as pd
df = pd.read_csv('historical.csv')

In [2]:
df

,Unnamed: 0,time,date,confirmed,active,recovered,deaths
0,0,22,2020-01-22T00:00:00Z,0,0,0,0
1,1,23,2020-01-23T00:00:00Z,0,0,0,0
2,2,24,2020-01-24T00:00:00Z,0,0,0,0
3,3,25,2020-01-25T00:00:00Z,0,0,0,0
4,4,26,2020-01-26T00:00:00Z,0,0,0,0
...,...,...,...,...,...,...,...
94,94,116,2020-04-25T00:00:00Z,148377,0,0,20319
95,95,117,2020-04-26T00:00:00Z,152840,0,0,20732
96,96,118,2020-04-27T00:00:00Z,157149,0,0,21092
97,97,119,2020-04-28T00:00:00Z,161145,0,0,21678
98,98,120,2020-04-29T00:00:00Z,165221,0,0,26097